<% if @article.errors.any? %>
  <h2>The following errors prevented the article from being saved</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="bd-example w-50 mx-auto">
<%= form_with(model: @article, local: true) do |f| %> 
    <p> 
        <%= f.label :title %> <br/>
        <%= f.text_field :title, class: "form-control" %>
    </p>

    <p> 
        <%= f.label :description %> <br/>
        <%= f.text_area :description, class: "form-control", rows: 5 %>
    </p>

    <div class="col-lg-6 mx-auto">
        <%= f.submit class: "btn btn-primary btn-sm px-4 gap-4" %>
        <%= link_to "Index", articles_path, class: "btn btn-outline-secondary btn-sm px-4" %>
    </div>
<% end %>
</div>