<div class="bd-example w-50 mx-auto">
<%= render "shared/errors", obj: @article %>
<%= form_with(model: @article, local: true, class: "text-start") do |f| %> 
    <p> 
        <%= f.label :title %> <br/>
        <%= f.text_field :title, class: "form-control" %>
    </p>

    <p> 
        <%= f.label :description %> <br/>
        <%= f.text_area :description, class: "form-control", rows: 5 %>
    </p>

    <div class="col-lg-6 mx-auto">
        <%= f.submit class: "btn btn-primary btn-sm px-4 gap-4" %>
        <%= link_to "Index", articles_path, class: "btn btn-outline-secondary btn-sm px-4" %>
    </div>
<% end %>
</div>