<h1 class="display-6 mb-2"><%= @article.title %></h1>
<p class="text-muted">by <%= @article.user.username.titleize %></p>

<div class="highlight w-50 bg-light mx-auto mb-4 p-2 text-start" style="height: 300px">
<p><strong> Description: </strong> <%= @article.description %></p>
</div>
<div class="text-muted mb-4">
    <small>Created <%= time_ago_in_words(@article.created_at) %> ago</small>
    <% if @article.created_at != @article.updated_at %>
         <small>Edited <%= time_ago_in_words(@article.updated_at) %> ago</small> 
    <% end %>
</div>
<div class="col-lg-6 mx-auto">
    <%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary btn-sm px-4 gap-4" %>
    <%= link_to "Delete", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-sm px-4 btn-warning" %>
    <%= link_to "Index", articles_path, class: "btn btn-outline-secondary btn-sm px-4" %>
</div>    